<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CRUD Web App Test Suite" verbose="1">
    <test name="Student and Book Management Tests">
        <classes>
            <class name="com.crud.tests.CRUDWebAppTests"/>
        </classes>
    </test>
</suite>
